<html>
<head>
	<title> Asian Happy Quotes Backend admin pages</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
</head>
<body>
	<div ng-app="myApp" ng-init="url='http://localhost:3000'">
		<p><span ng-bind="url"></span></p>

 		<div ng-include="'menu.html'" ></div>
 		<form novalidate ng-app="myApp" ng-controller="searchCtrl">
 			<br>
 			<div>
 				<input type="text" ng-model="keyword">
 				<button ng-click="submit()">Search</button>
 			</div> 	 	
 		
 		</form>

	</div>

<script>
var app = angular.module('myApp',[])
app.controller('searchCtrl',function($scope,$http) {
	
	$scope.submit = function() {
		
		data = {
			fb_token:'adslkfj204758',
			authorname:'Nol'
		}
		
		
		http_opt = 	
			{
				method: 'POST', 
				url: 'http://localhost:3000/get_all_quote', 
            	headers:{
                	'Access-Control-Allow-Origin': '*',
                	'Access-Control-Allow-Methods': 'GET, POST, PUT, DELETE, OPTIONS',
                	'Access-Control-Allow-Headers': 'Content-Type, X-Requested-With',
                	'X-Random-Shit':'123123123'
            	}
            }


		$http.post(http_opt,data)
  		.success(function(data, status, headers, config) {
    		alert('1')
  		}).
  		error(function(data, status, headers, config) {
    		alert('error')
  		});
	}

})	

</script>

</body>
</html>