<html>
<head>
	<title> Asian Happy Quotes Backend admin pages</title>
	<script src="./angular.min.js"></script>
</head>
</head>
<body>
	<div ng-app="myApp">
 		<div ng-include="'menu.html'"></div>
 		<form novalidate ng-app="myApp" ng-controller="searchCtrl">
 			<br>
 			<div>Search: <input type="text" ng-model="keyword"<br></div> 			 			
 		</form>

	</div>


<script>
var app = angular.module('myApp',[])
app.controller('searchCtrl',function($scope) {
	
})	

</script>

</body>
</html>